a {
  color: white;
  font-size: 18px;
}

.mat-elevation-z5 {
  overflow: hidden;
  width: 100%;
  min-width: 475px;
  padding: 10px 20px 10px 10px;
  font-size: 20px;
  position: fixed;
  top: 0;
  color: #FFFFFF;
  background-color: rgba(10, 95, 53, 0.93);
}

.mat-elevation-z5:after {
  color: white;
  content: "";
  position: absolute;
  display: block;
  width: 25%;
  min-width: 200px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  transform-origin: bottom left;
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
}

.logoSection {
  z-index: 3;
  position: relative;
  left: -244px;
  top: 6px;
}

.logoSection::after {
  z-index: 3;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

//a {
//  text-decoration: none;
//  color: white;
//}
//
//a:hover,
//a:active {
//  color: lightgray;
//}
//
.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
//
//.nav-caption {
//  display: inline-block;
//  padding-left: 6px;
//}
